body{
  text-align: center;
  background-image: url('/resources/img/board/img_bg.png');
}
header{
  margin-top : 2%;
  width: 80%;
  margin-left: 10%;
/*   background-color: #00FF40; */
  min-height: 5vh;
  border-radius: 5px;
}
section{
  width: 80%;
  margin-left:  10%;
  margin-right : 10%;
  background-color: #A9A8A6;
  min-height: 70vh;
  margin-top: 1%;
  border-radius: 5px;
  float: left;
  margin-bottom: 3%;
  
}
article{
  width: 40%;
  margin : 1% 5% 2% 5%;
  background-color: #ffffff;
  min-height: 70vh;
  border-radius: 5px;
  float: right;
  font-size: 1em;
	
}
footer{
  margin-top: 3%;
  border-radius: 5px;
}
#evaluate{
	width: 100%;
	float: left;
	height: 3vh;
	border-radius: 5px;
	background-color: #5882FA;
	font-size: 2em;
}
#b{
	border-bottom : 1px solid #000000;
}
#a{
  	margin : 1% 5% 1% 5%;
  	background-color: #ffffff;
 	border-radius: 5px;
 	font-size: 1em;
 	border : 1px solid #000000;
}
#case{
	margin-top : 3%;
	width: 100%;
}