body {
	text-align: center;
	background-image: url('/resources/img/board/img_bg.png');
}

header {
	margin-top: 2%;
	width: 80%;
	margin-left: 10%;
	/*   background-color: #00FF40; */
	min-height: 5vh;
	border-radius: 5px;
}

section {
	width: 80%;
	margin-left: 10%;
	margin-right: 10%;
	background-color: #A9A8A6;
	min-height: 60vh;
	border-radius: 5px;
	float: left;
	margin-bottom: 3%;
}

article {
	overflow: scroll;
	width: 40%;
	margin: 1% 5% 1% 5%;
	background-color: white;
	min-height: 60vh;
	max-height: 60vh;
	border-radius: 5px;
	float: left;
}

footer {
	margin-top: 3%;
	border-radius: 5px;
	text-align: center;
}

#team {
	width: 45%;
	float: left;
	border-radius: 5px;
	background-color: #5882FA;
	font-size: 2em;
	text-align: center;
}

#pros {
	width: 45%;
	float: left;
	margin-left: 10%;
	border-radius: 5px;
	background-color: #5882FA;
	font-size: 2em;
	text-align: center;
}

#teamlist, #proflist {
	border-bottom: 1px solid #000000;
	margin-top: 10px;
	margin-botton: 10px;
	text-align: center;
}