body {
	background-image: url('/resources/img/board/img_bg.png');
}

header {
	margin-top: 2%;
	width: 60%;
	margin-left: 20%;
	border-radius: 5px;
	background-color: #7A90E1;
}

section {
	width: 60%;
	margin-left: 20%;
	background-color: #DEDADA;
	margin-top: 25px;
	border-radius: 5px;
	padding-bottom: 10px;
	margin-bottom: 10px;
}

footer {
	margin-bottom: 50px;
}

#wrapper {
	width: 70%;
	margin-left: 15%;
}

.text {
	text-align: center;
}

.title {
	text-align: center;
	margin-top: 3%;
}

#buttonWrapper {
	display: table;
	margin: 0 auto;
}

#leftBtn {
	margin-right: 10px;
}

.lastselect {
	margin-top: 20px;
	margin-bottom: 10px;
	text-align: center;
	background-color: white;
}

.evaluator {
	text-align: center;
}

.teamreport {
	text-align: center;
	font-size: 1.5em;
}