body{
	background-image: url('/resources/img/board/img_bg.png');
	margin-top:  0px;
}

header{
	height: 100px;
	max-width: 80%;
	margin-left : 10%;
	background: white;
	border-radius: 50px;
	margin-top: 10px;
	
}

section{
	height: 700px;
	max-width: 1200px;
	margin: auto;
}

footer {
	width : auto;
	margin-top: -400px;
}

nav {
	display: inline-block;
}

#pageNav {
	margin-top: 100px;
	width: 100%;
	text-align: center;
}

#evalNotice {
	text-align: center;
	max-width: 1200px;
	margin: auto;
	margin-top: 20px;
	padding: 10px;
	background-color: white;
	border-radius: 5px;
}

#notice {
	text-align: center;
	max-width: 1200px;
	margin: auto;
	padding-top: 25px;
}

#noticeTable {
	text-align: center;
	max-width: 1200px;
	margin: auto;
}

#selectPostType {
	margin-left: 50px;
	float: left;
}

#searchButton {
	float: right;
}

#left {
	float: left;
	margin-right: 10px;
}

#right {
	float: right;
}

#showTable {
	margin-top: 50px;
	text-align: center;
}

#navButton {
	
}

#team{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}

#but{
	float: left;
	margin-left: 50px;
	transform: translateY(100%);
}
#my{
	text-align: center;
	width: 250px;
	float: right;
	transform: translateY(50%);
	margin-right: 100px;
	background-color: grey;
	border-radius: 50px;
	color: white;
	height: 50px;
}

#teamDrops {
	float: right;
}

#searchTeam {
	float: right;
}

#welcomeId {
	transform: translateY(75%);
}

#mainTitle {
	text-align: center;
}

.bit {
	margin-left: 2.5px;
	margin-right: 2.5px;
}

#bitTotal{
	float: left;
/* 	margin-top: 10px; */
}