html,body{
	background-image: url('/resources/img/board/img_bg.png');
	margin-top:  0px;
	text-align: center;
}
header{
	height: 100px;
	width: 100%;
	background: #ffffff;
	border-radius: 50px;
	margin-top: 10px;
	
}
section{
	height: 700px;
	width: 100%;
}

footer {
	width : auto;
	margin-top: -400px;
}
#but{
	width: 30%;
	float: left;
	margin-top: 40px;
}
#my{
	width: 20%;
	float: left;
	margin-top: 40px;
	margin-left: 100px;
	background: #feaa4a;
	border-radius: 50px;
	height: 30px;
}
#nsu{
	width: 30%;
	float: left;
	margin-top: 40px;
}
#bit1{
	margin-left: 2.5px;
	margin-right: 2.5px;
}
#bit2{
	margin-left: 2.5px;
	margin-right: 2.5px;
}
#bit3{
	margin-left: 2.5px;
	margin-right: 2.5px;
}
#bit4{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#bit5{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
#form{
	background: #c8c5c2;
	border-radius: 50px;
}
#team{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}