body{
	background-image: url('/resources/img/board/img_bg.png');
	margin-top:  0px;
}
header{
	height: 100px;
	max-width: 80%;
	margin-left : 10%;
	background: white;
	border-radius: 50px;
	margin-top: 10px;
	
}
section{
	height: 700px;
	max-width: 1200px;
	margin: auto;
}

footer {
	width : auto;
	margin-top: -400px;
}

#pageNav {
	text-align: center;
}

#but{
	float: left;
	margin-left: 50px;
	transform: translateY(100%);
}
#my{
	text-align: center;
	width: 250px;
	float: right;
	transform: translateY(50%);
	margin-right: 100px;
	background-color: grey;
	border-radius: 50px;
	color: white;
	height: 50px;
}

#welcomeId {
	transform: translateY(75%);
}

#mainTitle {
	text-align: center;
}

#bit1{
	margin-left: 2.5px;
	margin-right: 2.5px;
}
#bit2{
	margin-left: 2.5px;
	margin-right: 2.5px;
}
#bit3{
	margin-left: 2.5px;
	margin-right: 2.5px;
}
#bit4{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
}
#bit5{
	float: left;
	margin-left: 10px;
	margin-right: 10px;
	margin-top: 10px;
}
/* #form{ */
/* 	background: #c8c5c2; */
/* 	border-radius: 50px; */
/* } */
#team{
	margin-top: 10px;
	margin-left: 20px;
	margin-right: 20px;
}