/* common section */
html {
	background-image: url("/resources/img/mypage/img_bg.png");
}

header {
	height: 200px;
	max-width: 80%;
	margin-left: 10%;
}

.main {
	background-image: url("/resources/img/mypage/img_bg.png");
	width: 100%;
	min-height: 500px;
	position: fixed;
	max-width: 80%;
	margin-left: 10%;
}

footer {
	background-color: darkslategray;
	position: relative;
	left: 0;
	bottom: 0;
	width: 100;
	max-width: 80%;
	margin-left: 10%;
}
 
/* this page's css */
#pageNav {
	display: table;
	margin: 0 auto;
}


#logo_image_wrapper {
	position: relative;
	margin-left: 10vw;
	vertical-align: middle;
}

#logo_image {
	height: 50px;
	width: auto;
	float: left;
}

#footer_info {
	margin: auto;
	margin-right: 10vw;
	margin-top: 2vh;
	text-align: center;
	float: right;
}

#profile_img {
	margin-top: 25px;
	margin-bottom: 25px;
	margin-left: 30px;
	height: 150px;
	width: 150px;
}

#testPlan{
	position: relative;
	float:right;
	margin-right: 100px;

}

#profile_info {
	margin-top: 20px;
	text-align: center;
}

#private_info_wrapper {
	border: 2px solid grey;
	border-radius: 15px;
	margin-top: 50px;
	margin-left: 10vw;
	height: 50vh;
	width: 80vw;
	text-align: center;
}

#info_list {
	border:
}

#teamInfo, #whatupost {
	text-align: center;
	margin: 50px;
}

#mypagebtn {
	margin: 10px;
}

#testPlan {
	margin: 10px;
}