html, body {
/* 	margin-top: 00px; */
	text-align: center;
	background-image: url('/resources/img/board/img_bg.png');
}

header {
	min-height: 50px;
/* 	max-width: 80%; */
/* 	margin-left: 10%; */
}

/* nav { */
/* 	height: 40px; */
/* 	background-color: #BDBDBD; */
/* 	width: auto; */
/* 	margin: 00px 100px 00px; */
/* 	border-radius: 50px; */
/* } */

section {
	border-radius: 10px;
	background-color: #BDBDBD;
	max-width: 80vw;
	height: 500px;
	margin-left: 10vw;
/* 	margin: 00px 150px 00px; */
}

footer {
	margin-bottom: 100px;
}

/* #school { */
/* 	float: right; */
/* 	width: 150px; */
/* 	height: 30px; */
/* 	background-color: #ffffff; */
/* 	border: 3px solid #0000FF; */
/* 	border-radius: 5px; */
/* 	color: #5050FF; */
/* 	display: block; */
/* 	font-size: 1em; */
/* 	font-weight: bold; */
/* } */

/* #mypage { */
/* 	float: right; */
/* 	width: 150px; */
/* 	height: 30px; */
/* } */

#title {
	float: left;
/* 	height: 100%; */
	width: 80%;
	margin-top: 20px;
}

#text {
	border-radius: 10px;
/* 	min-height: 400px; */
	margin: 00px 100px 00px;
/* 	font-size: 3em; */
}

#post_select {
	float: right;
	transform: translateY(20%);
}

#post_field {
	resize: none;
}

#post_name {
}

#output {
	fornt-size: "1em"
}

.filebox {
/* 	margin-left: 45%; */

}

.form-control {
	float: left;
	width: 100%;
	height: 34px;
}

.input-group {
	margin-left: 12%;
}