html, body {
	text-align: center;
	background-image: url('/resources/img/board/img_bg.png');
}

header {
	min-height: 50px;
}

section {
	border-radius: 10px;
	background-color: #BDBDBD;
	max-width: 80vw;
	height: 500px;
	margin-left: 10vw;
/* 	margin: 00px 150px 00px; */
}

footer {
	margin-bottom: 100px;
}

#title {
	float: left;
	width: 80%;
	margin-top: 20px;
}

#text {
	border-radius: 10px;
	margin: 00px 100px 00px;
}

#post_select {
	float: right;
	transform: translateY(20%);
}

#post_field {
	resize: none;
}

#post_name {
}

#output {
	fornt-size: "1em"
}

.filebox {

}

.form-control {
	float: left;
	width: 100%;
	height: 34px;
}

.input-group {
	margin-left: 12%;
}